<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Titel</title>
    <base href="/" />

    @* CSS *@
    <environment names="Development">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging, Production">
        <link rel="stylesheet" href="~/dist/build.min.css" asp-append-version="true" />
    </environment>

    @* Prerequirements *@
    <environment names="Development">
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/core-js/client/shim.min.js"></script>
        <script src="node_modules/zone.js/dist/zone.min.js"></script>
    </environment>
    <environment names="Staging, Production">
        <script src="~/dist/vendor.min.js" asp-append-version="true"></script>
    </environment>

    @* Angular 2 *@
    <environment names="Development">
        <script src="node_modules/systemjs/dist/system.js"></script>
        <script src="systemjs.config.min.js"></script>
        <script>
            System.import('app').catch(function (err) { console.error(err); });
        </script>
    </environment>
</head>
<body>
    <environment names="Development">
        <div class="debuginfo" style="position:absolute;font-size:11pt">
        </div>
    </environment>

    @RenderBody()

    <environment names="Staging, Production">
        <script>window.module = 'aot';</script>
        <script src="~/dist/build.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
