<div class="profile" *ngIf="list">
    <h1>Info über Liste {{list.name}}</h1>
    <b>
        Tags:
        <span *ngFor="let tag of list.tags">{{tag.tagName}} <i *ngIf="!isBot" (click)="deleteTag(list, tag.tagName)"></i>,</span>
        <select *ngIf="!isBot" (change)="addTag(list, $event.target.value)">
            <option selected value="">Tag hinzufügen</option>
            <option *ngFor="let tag of missing(list)" value="{{tag.name}}">{{tag.name}}</option>
        </select>
    </b>
    <br />
    <br />

    <ul class="comicList">
        <li *ngFor="let issue of issues">
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-responsive" [src]="issue.imageUrl" />
                </div>
                <div class="xol-xs-9">
                    <b>
                        ID: {{issue.id}}<br />
                        Datum: {{issue.formatedRelease}}<br />
                        Aus: {{issue.volumeName}}<br />
                        Heftnummer: {{issue.issueNumber}}<br />
                    </b>
                    <div class="description" [innerHtml]="issue.description">
                    </div>
                    <a href="{{issue.detailsURL}}" target="_blank">Details anschauen</a><br />
                    <br />

                    <button *ngIf="!isBot" (click)="delete(issue.id)">Eintrag löschen</button>
                </div>
            </div>            
            <hr />
        </li>
    </ul>
</div>