<div class="myPage">
    <h1>Meine Listen</h1>
    <ul class="lists">
        <li *ngFor="let list of Global.user.lists" class="listItem">
            <h3><a routerLink="/listInfo/{{list.id}}" routerLinkActive="active">{{list.name}}</a></h3>
            <br />
            Elemente: {{list.comics == null ? 0 : list.comics.length}}
            <button (click)="delete(list.id)">Liste löschen</button>
            <hr />
        </li>
    </ul>
    <br />
    <input #inputField />
    <button (click)="addList(inputField)">Liste hinzufügen</button>
</div>