<div class="search">
    <h1>Suche</h1>
    <input *ngIf="!loading" type="text" class="searchBox" (keyup)="onInput($event)"/>
    <div *ngIf="loading" class="progress progress-striped active initial-loading initial">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        </div>
    </div>

    <h2>Ergebnis:</h2>
    <div *ngIf="searchResult">
        <h2>Issues</h2>
        <ul>
            <li *ngFor="let issue of searchResult.issues">
                {{issue.name}}
                <br />
                Heft: {{issue.issueNumber}}
                Hinzufügen zu:
                <select id="{{issue.id}}">
                    <option *ngFor="let list of Global.user.lists" value="{{list.id}}">{{list.name}}</option>
                </select>
                <button (click)="addToList(issue.id)">Zur Liste hinzufügen</button>
                <hr />
            </li>
        </ul>
        <h2>Volumes</h2>
        <ul>
            <li *ngFor="let volume of searchResult.volumes">
                {{volume.name}}
                <br />
            </li>
        </ul>
    </div>
</div>