<div *ngIf="Global.user" class="sidebar">
    <br>
    <div class="links">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/my" routerLinkActive="active">Meine Listen</a>
        <a routerLink="/search" routerLinkActive="active">Suche</a>
        <a routerLink="/home" routerLinkActive="active" (mousedown)="logout()">Logout</a>
    </div>
    <br>
    <div class="newIssues">
        <ul>
            <li *ngIf="NewItems.length === 0">Es sind keine neuen Ausgaben erschienen :(</li>
            <li *ngFor="let item of NewItems">Neue Ausgabe in: {{item.volumeName}}</li>
        </ul>
    </div>
</div>
